@using PagedList;
@using PagedList.Mvc;
@model IPagedList<EntityLayer.Entities.Product>
@{
    ViewBag.Title = "Index";
    ViewBag.Breadcrump = "Öne Çıkan Ürünler";
}
<style>
    .big-checkbox {
        /* Double-sized Checkboxes */
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        padding: 10px;
    }
</style>

<br />
<br />
<table class="table table-bordered" id="table">
    <tr>
        <th>Ad</th>
        <th>Açıklama</th>
        <th>Fiyat</th>
        <th>Stok</th>
        <th>Onay</th>
        <th>Resim</th>
        <th>Kategori</th>
        <th>Önce Çıkanlardan Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Price</td>
            <td>@item.Stock</td>
            <td align="center">
                @if (item.isApproved == true)
                {<input type="checkbox" class="big-checkbox" checked onclick="return false;" onkeydown="return false;" />}
                else
                {<input type="checkbox" onclick="return false;" onkeydown="return false;" />}
            </td>
            <td><img src="~/Content/Image/@item.Image" width="80" height="80" /></td>
            <td>@item.Category.Name</td>
            <td><a class="btn btn-danger btnSil" data-id="@item.Id">Sil</a></td>
        </tr>
    }
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    $(function () {
        $('#table').on("click", ".btnSil", function () {
            var btn = $(this);
            var id = btn.data("id");

            swal({
                title: "Silmek istediğinize emin misiniz?",
                text: "Bu işlem geri alınamaz.",
                icon: "warning",
                buttons: {
                    cancel: "İptal",
                    confirm: {
                        text: "Onayla",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                },
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "GET",
                        url: "/AdminFeatured/Delete/" + id,
                        success: function () {
                            btn.closest("tr").remove();
                            swal("Ürün silindi.", {
                                icon: "success",s
                            });
                        },
                        error: function () {
                            swal("Bir hata oluştu, tekrar deneyin.", {
                                icon: "error",
                            });
                        }
                    });
                }
            });
        });
    });

</script>