@model EntityLayer.Entities.Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<body>
    <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="/Product/Comment">
                    <div class="modal-header">
                        <h5 class="modal-title" id="commentModalLabel">Yorum yazınız.</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <textarea class="form-control" name="content" placeholder="Yorum yazınız..." rows="4"></textarea>
                        <input type="hidden" name="ProductId" value="@Model.Id" />
                        <input type="hidden" name="UserId" value="@Session["userid"]" />
                        <input type="hidden" name="CreatedDate" value="@DateTime.Now" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                        <button type="submit" class="btn btn-primary">Gönder</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <section>
        <div class="container">
            <div class="row">
                @Html.Action("CategoryList", "Category")
                <div class="col-sm-9 padding-right">
                    <div class="product-details">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="view-product">
                                        <img src="~/Content/Image/@Model.Image" style="width:300px; height:300px; margin-top:20px; object-fit:cover;" alt="@Model.Name" />
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="product-information">
                                        <h2>Ürün Adı: @Model.Name</h2>
                                        <span>
                                            <span>@Model.Price TL</span>
                                            <a class="btn btn-default cart" style="margin-top:15px" href="/Cart/AddCart/@Model.Id">
                                                <i class="fa fa-shopping-cart"></i>
                                                Sepete Ekle
                                            </a>
                                        </span>
                                        <p><b>Kategori:</b> @Model.Category.Name</p>
                                        <p><b>Onay:</b> @Model.IsApproved</p>
                                        <p><b>Açıklama:</b> @Model.Description</p>
                                        <a href=""><img src="images/product-details/share.png" class="share img-responsive" alt="" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#commentModal">Yorum Yap</button>
                        <br />
                        <div class='row'>
                            <div class="col-md-4 col-12">
                                @foreach (var item in ViewBag.comment)
                                {
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title" style="color:coral;">
                                                @item.User.Name
                                            </h4>
                                            <p class="card-text">@item.Content</p>
                                            <br />
                                        </div>
                                    </div>
                                    <hr />
                                }
                            </div>
                        </div>
                        @Html.Action("FeaturedProduct", "Product")

                    </div>
            </div>
        </div>
    </section>
</body>
</html>

