@using PagedList;
@using PagedList.Mvc;
@model IPagedList<EntityLayer.Entities.ProductStock>
@{
    ViewBag.Title = "Index";
    ViewBag.Breadcrump = "Stok";
}

<style>
    .big-checkbox {
        -ms-transform: scale(2);
        -moz-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
        padding: 10px;
    }
</style>

<br />
<br />
<table class="table table-bordered" id="table">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Stok</th>
            <th>Onaylı</th>
            <th>Resim</th>
            <th>Kategori</th>
            <th>Stok Düzenle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-id="@item.Id">
                <td>@item.Product.Name</td>
                <td>@item.Stock</td>
                <td align="center">
                    @if (item.Product.IsApproved == true)
                    {
                        <input type="checkbox" class="big-checkbox" checked onclick="return false;" onkeydown="return false;" />
                    }
                    else
                    {
                        <input type="checkbox" onclick="return false;" onkeydown="return false;" />
                    }
                </td>
                <td><img src="~/Content/Image/@item.Product.Image" width="80" height="80" /></td>
                <td>@item.Product.Category.Name</td>
                <td>
                    <button class="btn btn-primary stock-update" data-id="@item.Id" data-toggle="modal" data-target="#stockUpdateModal">Stok Düzenle</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)

<div class="modal fade" id="stockUpdateModal" tabindex="-1" role="dialog" aria-labelledby="stockUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="stockUpdateModalLabel">Stok Düzenle</h5>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <input type="hidden" id="productId" value="">
                <div class="form-group">
                    <label for="updatedAmount">Yeni Stok Miktarı:</label>
                    <input type="number" class="form-control" id="updatedAmount" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="updateStockButton" data-dismiss="modal">Stok Güncelle</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

<script>
    $('#updateStockButton').click(function () {
        var productId = $('#productId').val();
        var updatedAmount = parseInt($('#updatedAmount').val());

        if (!isNaN(updatedAmount)) {
            $.ajax({
                url: '/AdminProductStock/Update/',
                type: 'POST',
                data: JSON.stringify({ productId: productId, updatedAmount: updatedAmount }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log("Success response:", result);
                    if (result.success) {
                        $('#table tr[data-id="' + productId + '"] td:nth-child(2)').text(updatedAmount);

                        $('#stockUpdateModal').modal('hide');
                        $('#productId').val('');
                        $('#updatedAmount').val('');

                        alert(result.message);
                    } else {
                        alert(result.message);
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error:", xhr.responseText);
                    alert('Bir hata oluştu. Lütfen daha sonra tekrar deneyin.');
                },
                complete: function () {
                    $('.modal-backdrop').remove();
                }
            });
        } else {
            alert('Lütfen geçerli bir sayı girin.');
        }
    });

    $(document).ready(function () {
        $('.stock-update').click(function () {
            var productId = $(this).data('id');
            $('#productId').val(productId);
            $('#stockUpdateModal').modal('show');
        });
    });
</script>
