@using PagedList;
@using PagedList.Mvc;
@model IPagedList<EntityLayer.Entities.Comment>
@{
    ViewBag.Title = "Comment";
}

<table class="table table-bordered">
    <tr>
        <th>İçerik</th>
        <th>Ürün</th>
        <th>Kullanıcı</th>
        <th>Tarih</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Content</td>
            <td>@item.Product.Name</td>
            <td>@item.User.Name</td>
            <td>@item.CreatedDate</td>
            <td><a class="btn btn-danger btnSil" data-id="@item.Id">Sil</a></td>
        </tr>
    }
</table>

<script>
    $(function () {
        $('#table').on("click", ".btnSil", function () {
            var btn = $(this);
            var id = btn.data("id");

            swal({
                title: "Silmek istediğinize emin misiniz?",
                text: "Bu işlem geri alınamaz.",
                icon: "warning",
                buttons: {
                    cancel: "İptal",
                    confirm: {
                        text: "Onayla",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                },
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "GET",
                        url: "/Admin/DeleteComment/" + id,
                        success: function () {
                            btn.closest("tr").remove();
                            swal("Yorum silindi.", {
                                icon: "success",s
                            });
                        },
                        error: function () {
                            swal("Bir hata oluştu, tekrar deneyin.", {
                                icon: "error",
                            });
                        }
                    });
                }
            });
        });
    });

</script>